.pomodro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .pomodro-h1{
    font-size: 25px;
    margin-bottom: 1rem;
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    
  }
  
  .pomodro-timer{
    font-size: 50px;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 700;
  }

.pomodro-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.start-btn{
    padding: 10px   20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    font-family: monospace;
    font-weight: 700;
    border-radius: 50%;
    font-size: 18px;
    
}
.start-btn:hover{
    background-color: #27ae60;
}
.pause-btn{
    padding: 10px   20px;
    background-color: #1f43c5;
    color: white;
    border: none;
    font-family: monospace;
    font-weight: 700;
    border-radius: 50%;
    font-size: 18px;
}
.pause-btn:hover{
    background-color: #1a3ac5;
}
.restart-btn{
    padding: 10px   20px;
    background-color: #da481b;
    color: white;
    border: none;
    font-family: monospace;
    font-weight: 700;
    border-radius: 50%;
    font-size: 18px;
}
.restart-btn:hover{
    background-color: #c53e1f;
}