.App {
  background: url("background.jpg");
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
   
}
 
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  width: 100vw;
  padding: 10px;
  max-height: 100vh;
  height: 100%;
 
}
 
.item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
 
.time {
  font-size: 80px;
  color: white;
  text-align: center;
}
 
.date {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
}
 
.add-widget-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}
 
.add-widget-button:hover {
  color: #1e1e1e;
}
 
.right-widget,
.left-widget,
.main-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  max-width: 500px;
}
 
.none-widget {
  position: fixed;
  /* height: 100vh;
  width: 100vw; */
  top: 0px;
  left: 0px;
}

select {
 background-color: #efaeae;
}
 
/* Modal */
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.4);
}
 
.modal-content {
  background-color: #183A37;
  margin: auto;
  padding: 20px;
  width: 50%;
  max-height: 50vh;
  overflow: scroll;
}
 
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
 
.modal-header h2 {
  color: white;
  font-weight: bold;
  font-size: 25px;
}
 
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
 
.widget-gallery-item {
  color: black;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
}
 
.text-input {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  padding-bottom: 3px;
}
 
.widget-container {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
 
}
 
.widget-gallery-item-name{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}